<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
</head>
<body>
    <div id="app">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">Komet Sales</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="#">Vendedores</b-nav-item>
                </b-navbar-nav>

                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <b-container fluid>

            <b-row class="text-right my-3">
                <b-col>
                    <b-form-file v-model="file" class="text-left" placeholder="Seleccione un archivo" accept=".csv" browse-text="Cargar CSV" @input="upload">

                    </b-form-file>

                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <b-list-group>
                        <b-list-group-item v-for="seller in sellers" >
                            <a :href="'/details.html?id='+seller.id">{{seller.name}}</a>
                        </b-list-group-item>
                    </b-list-group>
                </b-col>
            </b-row>
        </b-container>

    </div>
    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script>
        new Vue({
            el: '#app',
            data: {
                sellers: [],
                file: null
            },
            created () {
                axios.get('http://localhost:8080/sellers')
                    .then(response => {
                        this.sellers = response.data;
                    })
                    .catch(function (error) {
                        // error handler
                    })
            },
            methods: {
                upload() {
                    if (this.file) {
                        var formData = new FormData();
                        formData.append("file", this.file);
                        axios.post('http://localhost:8080/sales/upload', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(() => {
                            this.file = null;
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>
